html{
        padding: 0%;
        margin: 0%;
}

.dash-info-outer{
        background-color: white;
        width: 95%;
        display: flex;
        align-items: start;
        justify-self: center;
        justify-content: center;
        flex-direction: column;
        padding:20px 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
}

.dash-head{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.edit-btn button{
        background-color: #880015;
        border: none;
        color: white;
        padding: 5px 15px;
        border-radius: 8px;
}

.d-h{
        width: 95%;
        margin-left: 50px;
        display: flex;
        align-items: start;
        gap: 10px;
        margin-bottom: 10px;
}

.dash-head p{
        margin: 0px;
}

.d-h i{
        font-size: 30px;
        background-color: #880015;
        color: white;
        padding: 0px 10px;
        border-radius: 12px;
}

.user-info-outer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        justify-self: center;
        padding: 20px;
        margin-top: 9vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        margin: 0vh 40px;
        width: 95%;
}

.b-head{
        margin: 15vh 40px 0px 40px;
}

.b-head h2{
        margin: 0%;
        color: #880015;
}

.b-head2{
        color: #880015;
        margin: 8vh 40px 0px 40px;
}

.user-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
}

.decImg {
        width:150px;
        height: 150px;;
        border-radius: 15px;
        object-fit: cover;
}

.info label {
        color: rgb(137, 162, 184);
        margin: 0px;
        font-size: 14px;
}

.info p {
        margin-top: 0px;
}

@media (max-width:800px) {
        .user-info-outer {
                flex-direction: column;
                justify-content: start;
                align-items: start;
                margin: 0vh 20px;
        }
}

@media (max-width:500px) {
        .user-info {
                flex-direction: column;
                gap: 0px;
                align-items: start;
        }

        body {
                margin: 0%;
                padding: 0%;
        }
}

/* Request */

.request-blood-card {
        padding: 20px;
        margin: 10px 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
}

.accept-blood-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        margin: 10px 40px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.b-card-outer{
        justify-self: center;
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 12px;
}

.request-cards{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        margin: 10px 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
}

.request-img i {
        font-size: 60px;
}

.request-name {
        display: flex;
        flex-direction: column;
}

.request-inner {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
        width: 90%;
}

.request-info p {
        font-size: 14px;
        margin: 10px;
}

.request-btn {
        width: 90%;
}

.request-btn button {
        padding: 5px 40px;
        border-radius: 8px;
        border: 1px solid rgb(180, 180, 197);
        background-color: white;
        font-weight: bold;
        margin: 5px 10px;
        width: 100%;
}

.request-btn button:hover {
        background: linear-gradient(45deg, rgb(216, 21, 21), rgb(86, 21, 216));
        color: white;
}

h3 {
        margin-left: 40px;
}

@media (max-width:940px) {
        .request-blood-card {
                flex-direction: column;
        }

        .request-inner {
                width: 100%;
                gap: 0px;
                align-items: start;
        }

}

@media (max-width:550px) {
        .request-inner {
                flex-direction: column;
                align-items: start;
                margin: 0px;
        }

        .request-blood-card {
                margin: 10px 20px;
        }
}

/* Donation request */

.d-blood-outer{
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 95%;
        justify-self: center;
        display: flex;
        align-items: start;
        justify-content: start;
        border-radius: 15px;
        padding:  20px;
}

.d-card-head{
        width: 95%;
        display: flex;
        align-items: start;
        gap: 10px;
        margin-bottom: 10px;
}

.d-card-head p{
        margin: 0px;
}

.d-card-head b{
        font-size: 20px;
}

.d-card-head i{
        font-size: 30px;
        background-color: #880015;
        color: white;
        padding: 0px 10px;
        border-radius: 12px;
}

.d-blood-card{
        width: 100%;
        padding: 10px 20px;
}

.d-card-body{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 12px;
        padding: 20px;
        width: 100%;
}

.d-request-head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
}

.d-request-head b{
        font-size: 20px;       
        margin-bottom: 10px;
}

#c-badge{
        font-size: 14px;
        background-color: rgba(255, 0, 0, 0.2);
        color: red;
        font-weight: bold;
        padding: 2px 7px;
        border: 1px solid red;
        border-radius: 8px;
}

#u-badge{
        font-size: 14px;
        background-color: rgba(255, 217, 0, 0.2);
        color: rgba(165, 42, 42, 0.809);
        font-weight: bold;
        padding: 2px 7px;
        border: 1px solid rgba(165, 42, 42, 0.809);
        border-radius: 8px;
}

#n-badge{
        font-size: 14px;
        background-color: rgba(0, 255, 255, 0.2);
        color: aqua;
        font-weight: bold;
        padding: 2px 7px;
        border: 1px solid aqua;
        border-radius: 8px;
}

.d-request-inner{
        width: 100%;
}

.d-request-inner p{
        margin: 10px;
        font-weight: 400;
        font-size: 14px;
}

.d-request-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
}

.d-request-btn button{
        padding: 5px 40px;
        border-radius: 8px;
        border: 1px solid rgb(180, 180, 197);
        background-color: white;
        font-weight: bold;
        margin: 5px 10px;
        width: 50%;
}

@media (max-width:550px) {
        .d-request-btn{
                flex-direction: column;
        }

        .d-request-btn button{
                width: 95%;
        }
}

@media (max-width:400px) {
        .d-request-head{
                flex-direction: column;
                gap: 10px;
                align-items: start;
        }
}

/* Search Bar */

.search-hospital-outer {
        margin: 20px 40px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
}

.search-header{
        display: flex;
        align-items: start;
        justify-content: space-between;
}

.search-header button{
        background: none;
        border: none;
}

.s-head-upper {
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 5px;
        gap: 10px;
}

.search-txt p {
        margin: 0%;
        font-size: 20px;
}

.search-icon i {
        font-size: 30px;
        padding: 3px 10px;
        background-color: #880015;
        color: white;
        border-radius: 12px;
}

.search-bar input {
        width: 100%;
        border-radius: 8px;
        padding: 5px 10px;
}

/* Tracker */

#tracker-section{
        background-color: #fff;
        display: none;
}

.show{
        animation: show 0.3s ease-in-out;
}

@keyframes show{
        0%{
                opacity: 0;
        }
        100%{
                opacity: 1;
        }
}

.donar-tracker {
        margin: 10px 40px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        display: block;
}


.tracker-outer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
}


.track-btn button {
        background: none;
        border: none;
        padding: 5px 10px;
}

.track-btn i {
        font-size: 25px;
}

.track-btn {
        border: 1px solid black;
        border-radius: 50%;
}

.line-div {
        width: 250px;
        height: 5px;
}

.track-info{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
}


@media (max-width:600px){
        .tracker-outer{
                flex-direction: column;
                align-items: center;
                justify-content: start;
        }

        .t-out{
                display: flex;
                align-items: start;
                justify-content: start;
        }

        .line-div{
                width: 5px;
                height: 100px;
        }

        .track-info{
                flex-direction: column;
                gap: 85px;
        }
}


/* Edit form */

.edit-form-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
}

.edit-form-head button{
        background: none;
        border: none;
        font-size: 22px;
}

.edit-form-head p{
        font-size: 25px;
        font-weight: bold;
        color: #880015;
}

.edit-form{
        display: none;
        justify-self: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50px;
        background-color: white;
        padding: 20px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 15px;
       width: 50%;
}

.rows{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 40px;
        width: 100%;
        margin-bottom: 20px;
}

.input{
        display: flex;
        flex-direction: column;
        width: 100%;
}

.input label{
        font-weight: bold;
}

.input input,select{
        width: 100%;
        padding: 10px;
        border-radius: 8px;
}

.input input,select:focus{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.save-btn button{
        width: 100%;
}

/* Recent  */

.recent-outer{
        justify-self: center;
        width: 95%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 15px;
}

.recent-head{
        display: flex;
        align-items: center;
        gap: 5px;
}

.recent-head i{
        font-size: 18px;
        background-color: #880015;
        color: white;
        padding: 2px 7px;
        border-radius: 12px;
}

.recent-head p{
        padding: 0px;
        margin: 0px;
        font-size: 20px;
}

.recent-date{
        justify-self: end;
}

.recent-tab{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 12px;
        margin-top: 10px;
}

.recent-tab p{
        margin: 0%;
}

.user-detail-tab{
        display: flex;
}

#a-status,#r-status{
        font-size: 14px;
        font-weight: bold;
        padding: 2px 7px;
        border-radius: 8px;
}

#a-status{
        background-color: rgba(0, 128, 0, 0.2);
        color: green;
        border: 1px solid green;
}

#r-status{
        background-color: rgba(255, 0, 0, 0.2);
        color: red;
        border: 1px solid red;
}

.user-detail-tab i{
        font-size: 35px;
        padding: 0px 10px;
}