* {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
        padding: 0px 5px;
}

/* Navbar */
.outer-navbody {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #880015;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        padding: 5px 0px;
}

.nav-logo-img img{
        width: 150px;
}

.nav-links-url ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
}

.link-li li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
}

.link-li{
        padding: 0px;
}

.link-li li {
        list-style: none;
        margin: 0px 15px;
}

.link-li li a:hover {
        color: rgb(216, 21, 21);
        transition: all 0.3s ease-in-out;
}

.nav-link-toggle {
        display: none;
}

.nav-link-toggle button {
        font-size: 30px;
        background-color: #880015;
        border: 1px solid white;
        color: white;
        border-radius: 8px;
}

.nav-toggle-links {
        display: none;
}

/* profile image */
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* dropdown */
.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 220px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 15px;

  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;

  pointer-events: none;
  z-index: 1000;
}

.profile-dropdown.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-container {
  position: relative;
}

/* profile info */
.profile-info {
  text-align: center;
}

.profile-info h4 {
  margin: 8px 0 2px;
  font-size: 18px;
}

.profile-info p {
  margin: 0;
  font-size: 13px;
  color: #666;
}
.profile-img-large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-dropdown button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: red;
  color: white;
  border-radius: 6px;
}

#changeImgBtn {
  margin-top: 6px;
  padding: 4px 10px;
  font-size: 12px;
  border: none;
  background: #444;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}
@media (max-width:768px) {
        .outer-navbody{
                display: flex;
                align-items: center;
                justify-content: space-around;
        }

        .nav-links-url ul {
                display: none;
        }

        .nav-link-toggle {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
        }

        .nav-toggle-links {
                display: none;
        }

        .nav-toggle-links.active{
                display: flex;
                align-items: start;
                justify-content: space-evenly;
                flex-direction: column;
                position: fixed;
                z-index: 1000;
                right: 5px;
                background-color: #880015;
                border-radius: 8px;
                top: 80px;
                font-weight: bold;
        }

        .toggle-li{
                margin: 0px;
        }

        .toggle-li li a {
                text-decoration: none;
                color: white;
                font-size: 15px;
        }

        .toggle-li li {
                list-style: none;
                margin: 20px 15px;
        }

        .banner {
                margin-top: 90px;
                min-height: 40vh;
                padding: 5vh 1rem;
        }

        .banner-p1 {
                font-size: 42px;
        }

        .banner-p2 {
                font-size: 18px;
        }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 500px;
  border-radius: 12px;
  position: relative;
}

/* close */
.closeBtn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* layout */
.donor-profile {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.donor-img {
  width: 80px;
  border-radius: 50%;
}

.hero-img {
        background-image: url(img/s1.jpeg);
        background-size: cover;
        background-position: center center;
        width: 100%;
        min-height: 80vh;
        max-height: 800px;
        height: auto;
        background-repeat: no-repeat;
}

/* Map */

.map-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 95%;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 15px;
}
.search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        padding: 20px;
        border-radius: 12px;
}

.s-donar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
}

.search-donar-outer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.search-donar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
}

.search-donar input{
        padding: 8px;
        border-radius: 5px;
        border: 2px solid black;
}

@media (max-width:500px) {
        .search-donar{
                flex-direction: column;
        }
}

.form-floating>label {
        color: #777;
}

.form-control:focus {
        border-color: #880015;
        box-shadow: 0 0 0 0.2rem rgba(118, 75, 162, 0.25);
}

.search-tab {
        width: 250px;
}

.search-icon button {
        padding: 10px;
        border-radius: 10px;
}

.donorContainer{
        margin-top:20px;
}

.donor-card {
  border: 1px solid #ccc;
  width:100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.donor-id {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        /* border: 1px solid black; */
        padding-left: 10px;
        padding-right: 10px;
        gap: 25px;
        text-align: center;
}

/* Dash-Card */
.outer-dash-card {
        display: flex;
        align-items: center;
        justify-content: center;
}

.d-card-body {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.body-dash-card {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid black;
        border-radius: 8px;
        margin: 15px;
}

.dash-card-logo {
        font-size: 40px;
        margin: 5px 15px;
}

.dash-card-info {
        margin: 5px;
        width: 200px;
}


/* Banner */
.banner {
        min-height: 50vh;
        padding: 6vh 2rem;
        margin-top: 75px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.banner-text {
        text-align: center;
}

.bl-btn {
        padding: 10px;
        border-radius: 8px;
        border: 1px solid rgb(180, 180, 197);
        background-color: white;
        font-weight: bold;
        color:#333;
}

.bl-btn a{
        text-decoration: none;
        color:#333
}

.bl-btn a:hover{
        color:white;
}
.banner-p1 {
        font-size: 63px;
        font-weight: bold;
}

.banner-p2 {
        font-size: 22px;
}

.bl-btn:hover {
        background: linear-gradient(45deg, rgb(216, 21, 21), rgb(86, 21, 216));
        color: white;
        animation: fill-color all 0.7s ease-in-out;
        transition: all 0.3s ease-in-out;
}

@keyframes fill-color {
        0% {
                background-color: white;
                color: black;
        }

        20% {
                color: white;
        }

        100% {
                background: linear-gradient(to right, rgb(216, 21, 21) 75%, rgb(86, 21, 216) 25%);
                color: white;
        }
}


/* Cards */

.outer-card {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.card-heading {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
}

.card-text {
        text-align: center;
}

.card {
        margin-bottom: 50px;
}

.card:hover {
        transition: all 0.3s ease-in-out;
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgb(216, 21, 21);
        transition: all 0.3s ease-in-out;
}

/* Review Card */

/* .review-card-outer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.review-card-body {
        width: 300px;
        height: 300px;
        margin: 20px 0px;
        border: 2px solid black;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
}

.review-card-body:hover{
        transition: all 0.3s ease-in-out;
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgb(216, 21, 21);
        transition: all 0.3s ease-in-out;
}

.reviewer-profile{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
}

.reviewer-img {
        font-size: 45px;
        
}

.reviewer-info{
        height: 200px;
} */

/* Container */
/* outer wrapper */
.review-wrapper {
  overflow: hidden;
  position: relative;
}

/* scrolling track */
.review-card-outer {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

/* card */
.review-card-body {
  min-width: 250px;
  flex-shrink: 0;
  border: 1px solid #e53935; 
  border-radius: 12px;     
  padding: 15px;
  background: #fff;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}

.review-card-body:hover {
  transform: translateY(-5px);
  transition: 1s;
}

.stars{
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        gap: 1px;
}

.reviewer-profile {
  display: flex;
  align-items: center;   
  gap: 10px;
}

.reviewer-img i {
  font-size: 28px;
}

.reviwer-info {
  display: flex;
  flex-direction: column; 
}

/* animation */
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100%{
        transform: translateX(50%);
  }
}

.review-card-outer:hover {
  animation-play-state: paused;
}

.mes-outer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.mes-body{
        border: 2px solid black;
        padding: 8px;
        border-radius: 8px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
}

.mes-body form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
}

.mes-img img{
        height: 300px;
        width:500px;
        border-radius: 15px;
        opacity: .8;
}

.mes-body p{
        font-size: 30px;
}

.star-rating{
        display: flex;
        justify-content: space-around;
        margin-bottom:10px;
        padding:4px 10px;
        border-radius: 10px;
        width: 80%;
}

.star-rating i{
        font-size: 30px;
        color:#dadada;
        transition: 0.2s;       
}

.star-rating i.active{
        color:gold;
}

/* Footer */

.foot-body {
        background-color: #880015;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.foot-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.foot-img img {
        height: 80px;
}

.foot-txt {
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin: 10px 10px 5px 10px;
        text-align: center;
}

.links-url li a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin: 8px;
}

.s-link {
        text-align: center;
}

.link-head {
        font-size: 35px;
        font-weight: bold;
        margin-left: 0px;
}

.q-links-urls {
        list-style: none;
        margin-left: 20px;
}

.q-links-urls li a {
        text-decoration: none;
        color: white;
}

.links-url {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-right: 20px;
}

.c-txt {
        text-align: center;
        background-color: #880015;
        font-weight: 100;
        color: white;
}

@media (max-width:650px) {
        .outer_body {
                flex-direction: column;
        }

        .logo_nav img {
                margin: 0px 50px 0px 80px;
                height: 65px;
        }

        .hero-img {
                min-height: 35vh;
                max-height: 550px;
                height: auto;
        }

        .banner {
                min-height: 45vh;
                padding: 4vh 1rem;
        }

        .banner-p1 {
                font-size: 21px;
        }

        .banner-p2 {
                font-size: 20px;
        }

        .bl-btn {
                padding: 5px;
                margin: 5px 5px;
                border-radius: 8px;
                border: 1px solid rgb(180, 180, 197);
                background-color: white;
                font-weight: bold;
                font-size: 9px;
        }

        .foot-body {
                flex-direction: column;
        }

        .link-head {
                font-size: 25px;
                margin-left: 15px;
        }

        .links-url li a {
                font-size: 25px;
                margin: 0px 15px 0px 0px;
        }
}

@media (max-width:1000px) {
        .outer-card {
                flex-direction: column;
        }

        .card {
                margin: 20px;
        }

        .card-t {
                font-size: 30px;
                text-align: center;
                font-weight: bold;
                margin: 10px;
        }

        .card-t2 {
                font-size: 15px;
                text-align: center;
        }

        .banner {
                min-height: 25vh;
                padding: 4vh 1rem;
        }

         .banner-p1 {
                font-size: 38px;
        }

        .banner-p2 {
                font-size: 25px;
        }

        .link-head {
                font-size: 25px;
        }

        ul li {
                font-size: 10px;
        }
}

@media (min-width:900px) {
        .card-t {
                font-size: 52px;
                text-align: center;
                font-weight: bold;
                margin-top: 30px;
        }

        .card-t2 {
                text-align: center;
                font-size: 20px;
                margin-bottom: 35px;
        }
}

@media (max-width: 1024px) {
        .outer-dash-card {
                flex-direction: column;
        }

        .body-dash-card {
                width: 300px;
        }

        .review-card-body {
                width: 230px;
                font-size: 10px;
                height: 230px;
        }
        .reviewer-info{
                height: 150px;
        }
}

@media (max-width: 550px) {
        .d-card-body {
                flex-direction: column;
        }

        .body-dash-card {
                width: 300px;
        }

        .donor-card-body {
                width: 270px;
        }

        .donor-card-img {
                font-size: 50px;
        }

        .donor-card-info {
                width: 150px;
        }

        .review-card-outer {
                flex-direction: column;
        }

        .reviewer-img{
                font-size: 35px;
        }

        .review-card-body {
                width: 200px;
                font-size: 10px;
        }

        .mes-img img{
                display: none;
        }
}
